ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  display: inline-block;
}

li {
  float: left;
  display: inline-block;
  font-size: 170%;
}

li a {
  display: inline-block;
  color: red;
  text-align: center;
  padding: 22px 50px;
  text-decoration: none;
  list-style-type: none;
}

li a:hover {
  background-color: #111;
}
.container
    {
        width: 1000px; /* set the width that's you want */
        margin: 0 auto;
    }
p.b {
  font-style: italic;
}